# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Logs
*.log

# Output files del TP
output/
*.kml

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Python packaging
dist/
build/
*.egg-info/


